@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #3239fb;
    --accent-color: #fb848c;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-gray-800 antialiased;
  background-color: var(--primary-color);
  background-image: url('https://arc.net/noise-light.png');
  background-repeat: repeat;
  /* Use default background-size for repeating noise */
  background-size: auto;
}

@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right, var(--primary-color), var(--accent-color));
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out;
}